[Unit]
Description=myapp
After=syslog.target

[Service]
User=ubuntu
ExecStart=java -jar /home/ubuntu/application-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
